/**---------------------------------------*/
/**--------- RACING INFORMATION ----------*/
/**---------------------------------------*/
.race-heading {
  font-size: 3em;
}

.race-sub-heading {
  color: #adadad;
  font-weight: 400;
}

.race-sub-heading-small {
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  text-transform: uppercase;
}

.scratch-time-heading {
  text-transform: uppercase;
  color: red;
}

.event-header {
  color: #26b47c;
}

.featured-race {
  color: #26b47c;
}

.race-details-headers ul,
.race-details-headers-data ul {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  list-style: none;
}

.race-details-headers {
  text-align: right;
}

.race-details-headers-data {
  text-align: left;
}

.race-details-headers-data-btn {
  background: none;
  border: none;
  padding: 0px 5px 0px 0px;
  color: #5bc0de;
}

.race-details-headers,
.race-details-headers-data {
  padding-left: 5px;
  padding-right: 5px;
}

.race-details-headers ul li,
.race-details-headers-data ul li {
  padding: 1px 0;
}

.race-details-headers,
.race-tiny-sub-heading,
.race-winning-connection-header,
.race-table-number-finishers {
  color: #adadad;
}

.race-table {
}

.race-table-body td,
.workouts-table-body td,
.entries-table-body td {
  padding-bottom: 0;
  padding-left: 0;
}

.workouts-table-body {
  font-size: 0.9em;
}

.race-table-head th {
  border-top: 0;
  border-bottom: 0 !important;
}

.race-table-head-normal {
  color: #a1a1a1;
  font-weight: 500;
  font-size: 1em;
  padding-left: 0 !important;
}

.race-table-head-small-text-light,
.race-table-head-small-numbers-light {
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
}

.race-table-head-small-text-light {
  color: #adadad;
  text-align: left;
  padding-left: 0 !important;
}

.race-table-head-small-text-dark {
  color: #000000;
  text-align: left;
  padding-left: 0 !important;
  text-transform: uppercase;
}

.race-table-head-small-numbers-light {
  color: #adadad;
  text-align: right;
  padding-right: 0 !important;
}

.race-table-head-small-numbers-dark {
  color: #000000;
  text-align: right;
  padding-right: 0 !important;
}

.race-table-saddle-number {
  width: 80px;
}

.race-table-personnel {
  padding-bottom: 0px !important;
}

.race-table-horse-name {
  /* margin-top: -5px !important; */
  margin-bottom: 0;
  color: #39ac6b;
  /* color: #2bca7b; */
  font-size: 1.1em;
  /* font-weight: 300; */
}

.race-table-jockey-name {
  margin-bottom: 0;
  /* color: #adadad; */
  font-size: 0.75em;
  font-weight: 300;
}

.race-table-win-number-primary,
.race-table-win-number {
  text-align: right;
  padding-right: 0 !important;
  font-weight: bold;
  font-size: 0.9em;
}

.race-table-win-number-primary {
  color: rgb(122, 122, 122);
}

.race-table-win-number {
  color: rgb(122, 122, 122);
}

.race-table-number-runner-ups,
.race-table-number-runner-ups-highlight {
  text-align: right;
  padding-right: 0 !important;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
}

.race-table-number-runner-ups-highlight {
  font-weight: bold;
}

.race-table-number-finishers {
  text-align: right;
  padding-right: 0 !important;
  font-size: 0.9em;
  color: rgb(0, 0, 0);
}

.race-tiny-sub-heading,
.race-text {
  font-size: 0.8em;
  margin-bottom: 0;
}

.race-tiny-sub-heading {
  margin-top: 10px;
}

.race-winning-connection-header {
  width: 50px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

/** Wagers **/
.wagers-table {
  margin-top: 30px;
}

.wagers-table th {
  border-top: 0;
  border-bottom: 0 !important;
}

.wagers-table-head-normal,
.wagers-table-head-other,
.wagers-table-head-money {
  color: #adadad;
  font-weight: 300;
  font-size: 0.8em;
}

.wagers-table-head tr th {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-transform: uppercase;
}

.wagers-table-head-money {
  text-align: right;
}

.wagers-table-text,
.wagers-table-money {
  font-size: 0.85em;
}

.wagers-table-body tr td {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wagers-table-money {
  text-align: right;
  padding-right: 0 !important;
}

/** Overnight Programme **/
.programme-table-headers h5 {
  font-size: 1em;
}

.programme-race-condition.entry,
.programme-race-condition.racecard {
  color: #adadad;
  font-size: 0.8em;
}

.programme-table-body {
  font-size: 0.8em;
}

.programme-numbers {
  text-align: right;
}

/** Final Programme **/
.racecard > .programme-table-body td {
  border: none;
}

.racecard > .programme-table-body td,
.entry > .programme-table-body td {
  padding: 0;
}

.bet-set-1,
.bet-set-2 {
  font-weight: bold;
}

.info-title.racecard,
.info-title.entry {
  font-size: 0.8em;
  color: #5bc0de;
}

/* .info-title.racecard {
    font-weight: bold;
  } */

.normal-title.racecard {
  font-size: 0.8em;
  color: inherit;
}

.race-table-head.entry,
.race-table-head.racecard,
.race-table-head.workouts {
  font-size: 0.8em;
}

/** Table Message Warning Colors **/
.table-warning-message,
.table-info-message {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  text-align: right;
}

.table-warning-message {
  color: red;
}

.table-info-message {
  color: blue;
}

/** Saddle Colors **/
.race-table-saddle-number {
  width: 80px;
}

.saddle {
  padding: 10px;
  text-align: right;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.saddle-tiny {
  padding: 0px 5px;
  text-align: right;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.saddle-color-1 {
  background: red;
  color: white;
}

.saddle-color-2 {
  background: white;
  color: black;
}

.saddle-color-3 {
  background: blue;
  color: white;
}

.saddle-color-4 {
  background: gold;
  color: black;
}

.saddle-color-5 {
  background: green;
  color: white;
}

.saddle-color-6 {
  background: black;
  color: gold;
}

.saddle-color-7 {
  background: orange;
  color: black;
}

.saddle-color-8 {
  background: pink;
  color: black;
}

.saddle-color-9 {
  background: turquoise;
  color: black;
}

.saddle-color-10 {
  background: purple;
  color: white;
}

.saddle-color-11 {
  background: lightgray;
  color: red;
}

.saddle-color-12 {
  background: lime;
  color: black;
}

.saddle-color-13 {
  background: brown;
  color: white;
}

.saddle-color-14 {
  background: maroon;
  color: yellow;
}

.saddle-color-15 {
  background: khaki;
  color: black;
}

.saddle-color-16 {
  background: lightblue;
  color: red;
}

.icon-gold {
  color: gold;
  font-size: 0.8em;
}

.icon-win-lengths {
  color: gold;
}

.icon-silver {
  color: silver;
  font-size: 0.8em;
}

.icon-bronze {
  color: #cd7f32;
  font-size: 0.8em;
}

.award-gold {
  color: gold;
}

.award-silver {
  color: silver;
}

.award-bronze {
  color: #cd7f32;
}

.medal-gold {
  color: gold;
}

.medal-silver {
  color: silver;
}

.medal-bronze {
  color: #cd7f32;
}

/** STATISTICS **/
.statistics-number-header,
.statistics-number {
  text-align: right;
}

/** TIPSTERS **/
.tipster-card {
  border: none !important;
  min-height: 280px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tipster-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.tipster-header {
  background: rgba(57, 172, 107, 1);
  background: -moz-linear-gradient(
    top,
    rgba(57, 172, 107, 1) 0%,
    rgba(57, 143, 94, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(57, 172, 107, 1)),
    color-stop(100%, rgba(57, 143, 94, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(57, 172, 107, 1) 0%,
    rgba(57, 143, 94, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(57, 172, 107, 1) 0%,
    rgba(57, 143, 94, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(57, 172, 107, 1) 0%,
    rgba(57, 143, 94, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(57, 172, 107, 1) 0%,
    rgba(57, 143, 94, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39ac6b', endColorstr='#398f5e', GradientType=0 );
}

.tipsters-number-header,
.tipsters-number {
  text-align: right;
}

.tipster-winner-card {
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tipster-winner-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.13);
}

.tipster-bimontly-winner,
.tipster-champion,
.tipster-most-wins {
  text-align: center;
  font-weight: bold;
}

.tipster-bimontly-winner,
.tipster-champion {
  color: green;
}

.race-table-position {
  font-weight: bold;
  margin-top: 10px;
}

.position-gold {
  color: gold;
}

.position-silver {
  color: silver;
}

.position-bronze {
  color: #cd7f32;
}

.race-card-seperator {
  border-bottom: 5px dashed #39ac6b;
  margin-bottom: 50px;
}

/**---------------------------------------*/
/**------------ MEDIA QUERIES ------------*/
/**---------------------------------------*/

@media only screen and (max-width: 991px) {
  .race-details-headers {
    text-align: left;
    margin-top: 10px;
    padding-left: 15px;
    float: left;
    width: 32%;
  }
  .race-details-headers-data {
    margin-top: 8px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 860px) {
  .race-table-saddle-number {
    width: 25px !important;
  }
  .race-table-horse-name {
    margin-bottom: 0;
    font-size: 1em;
  }
  .race-table-win-number-primary,
  .race-table-win-text,
  .race-table-win-number,
  .race-table-number-runner-ups,
  .race-table-number-runner-ups-highlights,
  .race-table-number-finishers {
    font-size: 0.9em;
  }

  .statistics-table {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  .race-table-head-normal {
    font-size: 0.85em;
  }
  .race-table-personnel {
    padding-right: 0px !important;
    padding-bottom: 5px !important;
  }
  .race-table-horse-name {
    margin-bottom: 0;
    font-size: 0.8em;
  }
  .th-mobile,
  .td-mobile {
    display: none;
  }

  .race-heading.entry {
    font-size: 2em;
  }

  .race-heading.racecard {
    font-size: 2em;
  }

  .programme-table-headers.racecard > h5 {
    font-size: 0.8em;
  }
}
